body{
    background: #fad0c8;
background: linear-gradient(90deg, rgba(250, 208, 200, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(197, 216, 250, 1) 100%);
display: flex;
align-items: center;
justify-content: center;

}
#btn{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap: 25px;
    width: 300px;
    height: 300px;
    padding: 50px;
    padding-top: 15px;
    
}
#container{
   background: #fad0c8;
background: linear-gradient(90deg, rgba(250, 208, 200, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(197, 216, 250, 1) 100%);
    width: 400px;
    height: 520px;
    margin: 50px;
    text-align: center;
    margin-left: 50px;
    margin-top: 100px;
    border:none;
    border-radius: 10px;
    box-shadow: -8px 0px 6px -4px rgb(0 0 0 / 0.5),0px 8px 6px -4px rgb(0 0 0 / 0.5);
    
    
}
#calc{
    color: rgb(62, 108, 149);
    padding: 20px;
    padding-bottom: 0px;
}
#display{
    width: 300px;
    height: 50px;
    background-color:white;
    color: rgb(65, 67, 67);
    border: none;
    border-radius: 10px;
    text-align: end;
    outline: none;
    
}

.num{
    background-color: rgb(155, 255, 238);
    border: none;
    border-radius: 5px;
    cursor: pointer;

}
.num:hover{
    background-color: rgb(158, 208, 233);
}
.num:active{
    opacity: 0.2s;
    background-color:rgb(117, 192, 245);
}

.operator{
    background-color: rgb(146, 246, 188);
    border: none;
    border-radius: 5px;
    cursor: pointer;

}
.operator:hover{
    background-color: rgb(130, 207, 191);
}
.operator:active{
    opacity: 0.2s;
    background-color:rgb(88, 194, 178);
}
.equal{
    background-color: rgb(57, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;

}
.equal:hover{
    background-color: rgb(89, 219, 139);
}
.equal:active{
    opacity: 0.2s;
    background-color:rgb(26, 143, 98);
}



